body {
  font-family: 'Mitr', sans-serif !important;
}

.logo-text-1 {
  font-size: 53px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  color:#2E8CAD;
}

.logo-text-2 {
  font-family: Mitr;
  font-size: 27px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0.15em;
  color:#2E8CAD;
}

.h1-title {
  font-size: 72px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0em;
  color:#2E8CAD;
}

.paragraph-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em; 
  max-width: 535px;
}

.services-link a:link, .services-link a:visited, .services-link a:hover, .services-link a:active {
  color:#777777;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: #2E8CAD;
}

.form-title {
font-size: 48px;
font-weight: 600;
line-height: 56px;
letter-spacing: 0em;
color: #2E8CAD;
  &.about-title {
    margin-top:50px;
    margin-bottom:40px;
  }
  &.services-title {
    margin-top:50px;
    margin-bottom:50px;
  }
  &.testymonials-title {
    margin-top:50px;
    margin-bottom:50px;
    color:white;
  }
}

.about-us-section-img-container {
  width:24px;
  height:24px;
  margin-bottom:10px;
    &.first-img {
      background-image: url(assets/images/1.png);
      background-size:cover;
    }
    &.second-img {
      background-image: url(assets/images/2.png);
      background-size:cover;
    }
    &.third-img {
      background-image: url(assets/images/3.png);
      background-size:cover;
    }
    &.fourth-img {
      background-image: url(assets/images/4.png);
      background-size:cover;
    }
    &.fifth-img {
      background-image: url(assets/images/5.png);
      background-size:cover;
    }
    &.sixth-img {
      background-image: url(assets/images/6.png);
      background-size:cover;
    }
}

.about-us-section-card-content {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  margin-bottom:60px;
  padding:5px;
  max-width:330px;
  color:#4F4F4F;
}

span.services-paragraph {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  margin-top:30px;
}

p .services-paragraph {
  max-width:325px;
}

.services-paragraph-title {
  display:inline-block;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
  margin-bottom:10px;
}

.servies-card-img {
  height:290px;
  background-image: url(assets/images/services.png);
  background-size:100%;
  background-position: center;
  background-repeat:no-repeat;
  // margin:0 auto !important;
}

.item-hover:hover {
  opacity: 0.7;
}

.testymonial-card-title {
  display:block;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  color: #50B2EA;
  margin-bottom:13px;
}

.testymonial-card-paragraph {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: #19435A;
}

@media screen and (max-width: 767px) {
  .contact-form {
    margin:0 auto !important;
    margin-top:20px !important;
  }
}